* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;

  --button-color-light: #E0E0E0;
  /* Ajuste para um tom mais suave */
  --button-color-dark: #1E1E1E;
  /* Um tom escuro que não seja totalmente preto */

  --text-color-light: #202020;
  /* Preto suave para melhor legibilidade */
  --text-color-dark: #EDEDED;
  /* Branco suave para melhor legibilidade */

  --background-color-light: #FAFAFA;
  /* Fundo claro com menos intensidade */
  --background-color-dark: #121212;
  /* Fundo escuro com melhor conforto visual */

  --max-width: 1280px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--text-color-light);
  background: var(--background-color-light);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: var(--text-color-dark);
    background: var(--background-color-dark);
  }
}