* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;

  --button-color-light: #F2F2F2;
  --button-color-dark: #272727;

  --text-color-light: #0F0F0F;
  --text-color-dark: #F1F1F1;

  --background-color-light: #FFFFFF;
  --background-color-dark: #0F0F0F;

  --max-width: 1280px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--text-color-light);
  background: var(--background-color-light);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: var(--text-color-dark);
    background: var(--background-color-dark);
  }
}
