.container {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  flex-direction: column;

  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em 0;
    gap: 1.2em;

    &__item {
      &__link {
        &__content {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2em;
          width: 2.5em;
          height: 2.5em;
          border-radius: 8px;
          background: var(--button-color-light);
          color: var(--text-color-light);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .container {
    &__list {
      &__item {
        &__link {
          &__content {
            background: var(--button-color-dark);
            color: var(--text-color-dark);
            box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }
}
